# Environment files
.env
*.env

# Python bytecode
__pycache__/*
app/__pycache__/*
app/core/__pycache__/*
*.py[cod]

# Virtual environments
env/
venv/
.jd_suggestor/

# Logs
*.log

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
